*{
    box-sizing: border-box;
    margin: 0;

    font-family: 'Noto Sans', sans-serif;
    color:#1d1d1d;
}
a{
    color: #5f5f5f;
}
a:hover{
    color:#1d1d1d;
}
a:active{
    color: #000000;
}
/*------------------header--------------------*/
header{
    background-color: #f1f1f1;
}
#nightModeButton__inner
{
    background-color: #4114c5;
}
#nightModeButton__inner:hover
{
    background-color: #2b0d86;
}
.header__nav__el:last-child
{
    margin-left: 40px;
    color: #4114c5;
}
.header__nav__el:last-child:hover
{
    color: #3510a1;
}
.header__nav__el:last-child:active
{
    color: #270b7a;
}
/*------------------main----------------------*/
main{
    background-color: #ffffff;
}
.section--img{
    background-color: #f1f1f1;
}
/*----------------footer----------------------*/
footer{
    background-color: #f1f1f1;
}