@media all and (max-width: 1920px){
    .slider{
        max-width: 1300px;
        width: 100%;
    }
    #slides{
        left: 300px;
    }
    .slide{
        max-width: 700px;
        margin: 50px 50px;
    }
    .slide-current{
        max-width: 750px;
    }
}
@media all and (max-width: 1000px){
    .slider{
        max-width: 700px;
        width: 100%;
    }
    #slides{
        left: 200px;
    }
    .slide{
        max-width: 300px;
        margin: 25px 25px;
    }
    .slide-current{
        max-width: 350px;
    }
}
.slider{
    overflow: hidden;
    margin: 0 auto;
}
#slides
{
    width: 9999px;
    height: 500px;
    transition: 500ms;
    position: relative;
}
.slide{
    border-radius: 10px;
}
.slide-current{
    width: 100%;
}
.slide:first-child{
    margin-left: -25px;
}
.slider__buttons{
    display: flex;
    transition: 125ms;
}
.slider__button{
    width: 82px;
    height: 82px;
    margin: auto;
    border: none;
    border-radius: 5px;
    font-size: 45px;
}
.slider__button:active{
    transition: 50ms;
}